body{
    direction: rtl;
}

.salesTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  .salesTable td, .salesTable th {
    border: 1px solid #ddd;
    padding:10px;
    text-align: center;
  }
  
  .salesTable tr:nth-child(even){background-color: #f2f2f2;}
  
  .salesTable tr:hover {background-color: #ddd;}
  
  .salesTable th {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #1F4571;
    color: white;
  }
  .container{
    direction: rtl;
    width: 80%;

  }
  .container .h1{
    color:#6c7076;;
    font-size: 18px;
  }